.contact-form {
    width: 100%;
    margin-top: 20px;

    ul {
        padding: 0;
        margin: 0;

        li {
            padding: 0;
            margin: 0;
            list-style: none;
            margin-bottom: 10px;
            overflow: hidden;
            display: block;
            position: relative;
            opacity: 0;
            animation: fadeInUp 2s 2s;
            animation-fill-mode: forwards;
            clear: both;
        }

        li.half {
            width: 49%;
            margin-left: 2%;
            float: left;
            clear: none;

            &:first-child {
                margin-left: 0;
            }
        }
    }

    input[type='text'],
    input[type='email'] {
        width: 100%;
        border: 0;
        background: #115173;
        height: 50px;
        font-size: 16px;
        color: white;
        padding: 0 20px;
        box-sizing: border-box;
    }

    textarea {
        width: 100%;
        border: 0;
        background: #115173;
        height: 50px;
        font-size: 16px;
        padding: 20px;
        color: white;
        min-height: 150px;
        box-sizing: border-box;
    }

    .flat-button {
        color: #EFB758;
        background: 0 0;
        font: 11px;
        letter-spacing: 3px;
        text-decoration: none;
        padding: 8px 10px;
        border: 1px solid #EFB758;
        float: right;
        border-radius: 4px;

        &:hover {
            background: #EFB758;
            color: #333;
        }
    }

}

.info-map {
    display: block;
    margin: auto;
    background-color: #000;
    z-index: 9999999;
    width: 700px;
    padding: 20px;
    color: #E1DCC9;;
    font-family: 'Helvetica';
    font-weight: 300;
    opacity: 0;
    animation: fadeIn 1s 1.5s;
    animation-fill-mode: forwards;

    span {
        font-size: 16px;
        display: block;
        padding-top: 20px;
        color: #EFB758;
        padding-bottom: 10px;
    }
}

.map-wrap {
    margin-top: 50px;
    float: right;
    width: 53%;
    height: 90%;
}

.leaflet-container {
    width: 95%;
    height: 100%;
    position: relative;
    opacity: 0;
    animation: backInRight 1s 1.2s;
    animation-fill-mode: forwards;
}

.contact-map-frame {
    border: 0;
}